
  <img src="https://png.pngtree.com/png-clipart/20221223/original/pngtree-coffee-border-watercolor-cup-png-image_8800423.png" class="card-img" height="800px" width="1200px">
  <div class="card-img-overlay"><span class="border border-light"><br><br><br>
  <br><br><br><br>
  <section class="container mt-4 text-light">
    <h2 class="text-center mb-4 text-dark">About Us</h2><br>
    <div class="row">
      <div class="col-md-6">
        <img src="https://i1.wp.com/pbs.twimg.com/media/FBiX-_jXIAAHh5C.jpg:large" class="img-fluid rounded" alt="Cafe Interior">
      </div>
      <div class="col-md-6 bg-secondary"><br>
        <p>Welcome to Our Cafe Espressoo, where we strive to provide an exceptional dining experience. Our cafe
          combines a cozy atmosphere, delicious food, and excellent service.</p>
        <p>At our cafe, we believe in using the finest ingredients to create mouthwatering dishes. Whether you're
          stopping by for a quick coffee or planning a family dinner, we have something for everyone.</p>
        <p>Our friendly staff is dedicated to making your visit memorable. We embrace the spirit of community and
          look forward to serving you with a smile.</p>
      </div>
    </div>
  </section>
  </span>
</div>
