<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
   <a class="navbar-brand text-light" href="#">
   <img src = "assets/images/logo.png" width="50px">Cafeteria</a>
    

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav font-weight-normal">
        <li class="nav-item active">
          <a class="nav-link active text-light mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/home"><h6>Home</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/about"><h6>About</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/sign-in"><h6>Sign In</h6></a>
        <!-- </li> 
         <li class="nav-item">
          <a class="nav-link text-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/login"><h6>Log In</h6></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/orders"><h6>Orders</h6></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/payment"><h6>Payment</h6></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/contact-us"><h6>Contact</h6></a>
        </li>
      </ul>
 
    </div>
  </div>
</nav>
