
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
     <a class="navbar-brand text-light" href="#">
     <img src = "assets/images/logo.png" width="50px">Cafeteria</a>
      
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav font-weight-normal">
          <li class="nav-item active">
            <a class="nav-link active text-light mr-2" aria-current="page"><h6>Home</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light mr-2" routerLink="about"><h6>About</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light mr-2" routerLink="gallery"><h6>Gallery</h6></a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-light" routerLink="contact-us"><h6>Contact</h6></a>
          </li>
        </ul>
   
      </div>
    </div>
  </nav>
  
  <div class="card bg-dark text-white">
    <img src="https://img.freepik.com/premium-photo/smooth-white-cup-with-smoke-table-roof-generative-ai_918839-1983.jpg" width="400px" height="750px"    class="card-img" alt="background image">
    <div class="card-img-overlay"><br><br><br>
      <h1 class="card-title text-left">Welcome To our Cafe Espresso</h1><br>
      <h5 class="card-text text-left">Creating the Best Coffee , Ever.</h5>
      <h6 class="card-text text-center"></h6><br><br>
      <a class="btn btn-outline-light" routerLink="sign-in" role="button">Sign In</a>
      <a class="btn btn-outline-light" routerLink="sign-in" role="button">Log</a>
    </div>
  </div>  -->
  <!-- <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Tailblocks</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900">First Link</a>
        <a class="mr-5 hover:text-gray-900">Second Link</a>
        <a class="mr-5 hover:text-gray-900">Third Link</a>
        <a class="mr-5 hover:text-gray-900">Fourth Link</a>
      </nav>
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header> -->
  <div class="card bg-dark text-white">
    <img src="https://static.vecteezy.com/system/resources/previews/002/232/237/original/cafe-building-in-the-city-coffee-street-cafe-illustration-free-vector.jpg" 
    class="card-img" width="1100px" height="800px">
    <div class="card-img-overlay"><br><br><br>
    </div>
  </div> 